App_Cloud(Tuandcpk00260)/Service References/ServiceReference1/bus_data.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cmd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getdataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excutedata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cmd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excutedataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="excutedataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getdataSoapIn">
    <wsdl:part name="parameters" element="tns:getdata" />
  </wsdl:message>
  <wsdl:message name="getdataSoapOut">
    <wsdl:part name="parameters" element="tns:getdataResponse" />
  </wsdl:message>
  <wsdl:message name="excutedataSoapIn">
    <wsdl:part name="parameters" element="tns:excutedata" />
  </wsdl:message>
  <wsdl:message name="excutedataSoapOut">
    <wsdl:part name="parameters" element="tns:excutedataResponse" />
  </wsdl:message>
  <wsdl:message name="getdataHttpGetIn">
    <wsdl:part name="cmd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getdataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="excutedataHttpGetIn">
    <wsdl:part name="cmd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excutedataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getdataHttpPostIn">
    <wsdl:part name="cmd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getdataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="excutedataHttpPostIn">
    <wsdl:part name="cmd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excutedataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="bus_dataSoap">
    <wsdl:operation name="getdata">
      <wsdl:input message="tns:getdataSoapIn" />
      <wsdl:output message="tns:getdataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excutedata">
      <wsdl:input message="tns:excutedataSoapIn" />
      <wsdl:output message="tns:excutedataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="bus_dataHttpGet">
    <wsdl:operation name="getdata">
      <wsdl:input message="tns:getdataHttpGetIn" />
      <wsdl:output message="tns:getdataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="excutedata">
      <wsdl:input message="tns:excutedataHttpGetIn" />
      <wsdl:output message="tns:excutedataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="bus_dataHttpPost">
    <wsdl:operation name="getdata">
      <wsdl:input message="tns:getdataHttpPostIn" />
      <wsdl:output message="tns:getdataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="excutedata">
      <wsdl:input message="tns:excutedataHttpPostIn" />
      <wsdl:output message="tns:excutedataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bus_dataSoap" type="tns:bus_dataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getdata">
      <soap:operation soapAction="http://tempuri.org/getdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excutedata">
      <soap:operation soapAction="http://tempuri.org/excutedata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bus_dataSoap12" type="tns:bus_dataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getdata">
      <soap12:operation soapAction="http://tempuri.org/getdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excutedata">
      <soap12:operation soapAction="http://tempuri.org/excutedata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bus_dataHttpGet" type="tns:bus_dataHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getdata">
      <http:operation location="/getdata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excutedata">
      <http:operation location="/excutedata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bus_dataHttpPost" type="tns:bus_dataHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getdata">
      <http:operation location="/getdata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excutedata">
      <http:operation location="/excutedata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bus_data">
    <wsdl:port name="bus_dataSoap" binding="tns:bus_dataSoap">
      <soap:address location="http://doancongtuan123-001-site1.myasp.net/bus_data.asmx" />
    </wsdl:port>
    <wsdl:port name="bus_dataSoap12" binding="tns:bus_dataSoap12">
      <soap12:address location="http://doancongtuan123-001-site1.myasp.net/bus_data.asmx" />
    </wsdl:port>
    <wsdl:port name="bus_dataHttpGet" binding="tns:bus_dataHttpGet">
      <http:address location="http://doancongtuan123-001-site1.myasp.net/bus_data.asmx" />
    </wsdl:port>
    <wsdl:port name="bus_dataHttpPost" binding="tns:bus_dataHttpPost">
      <http:address location="http://doancongtuan123-001-site1.myasp.net/bus_data.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>